{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}



{% block content %}

<h1>Posts</h1>

    <form id="form-blog" action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input id="inputsearch"  type="text" name="q" placeholder="Search Title..." >
        <button id="buttonsearch"  type="submit" >Search</button>
    </form>
<br>
<br>


{% for post in post_list %} 

    <div class="card-list">
        <div class="card-body-list">
            <h5 class= "card-title-list">{{ post.title }}</h5>
            <h5 class="author"> {{ post.author }}</h5>
            <h6 class= "card-subtitle=list mb-2 text-muted">{{ post.subtitle }}</h6> 
            <p class="card-text">{{ post.body|truncatechars:500 }}</p>
            <a href="{% url 'detail' post.id %}" class="card-link">Read more...</a> 
        </div>
    </div>
<br>
    {% endfor %}

{% endblock content %}