{% extends 'base.html' %}

{% block title %}Create{% endblock title %}


{% block content %}
<h1> New Post</h1>
{% comment %} <form id = "new_form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" class="btn btn-light ">
</form> {% endcomment %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        
    }
    .user_card {
        padding: 10%px; 
        width: 500px;
    }

    .form_container {
        margin-top: 20px;
    }

    #form-title{
        color: #fff;   
    }

    .login_btn {
        width: 50%;
        background: #9EB23B !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    
    .input-group-text {
        background: #f7ba5b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    #messages{
        background-color: grey;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
</style>

</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">

            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Title  </span>
                            
                        </div>
                        <input name="title" class="form-control" type="text"  required="true">
                        
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Subtitle</i></span>
                        </div>
                        <input name="subtitle" class="form-control" type="text"  required="true">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text">Comment</span>
                        </div>
                        {{form.body}}
                    </div>

                        <div class="d-flex justify-content-center mt-3 login_container">         
                            {% comment %} <input class="btn login_btn" type="create" value="Create" > {% endcomment %}
                            <input type="submit" value="POST" class="btn">
                        </div>
                </form>

            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                </div>
        
            </div>
        </div>
    </div>
</div>
</body>

</html>

{% endblock content %}