{% extends 'base.html' %}

{% block title %}About{% endblock title %}




{% block content %}
<h1>About Us</h1>
<div class="aboutlogo">
    <a class="linklogo" ><img class="logo" src="../static/images/forthpic.png"></a>
</div>

<p class="about-p"> We are Cohort 33. The best cohort that this course have ever had . We are from all over North America and all in a hybrid class. We only get to see each other once in a blue mmon. So we  want to connect with our fellow students and read about their experiences about our school. <br> <br>
    Thank you for joining us. Let's enjoy sharing our stories!</p>

{% endblock content %}