{% extends 'base.html' %}

{% block title %}Home{% endblock title %}




{% block content %}
    
    <!--------------- 1st --------------->
<main>
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div id="topdivhome" class="card text-left">
        <div id="toptexthome" class="card-body">
            <h5 class="card-title">Full Stack Development Immersive, Cohort 33</h5>

            <p class="card-text">
                This cohort has got to be the best cohort ever ! But its okay if you're not in this cohort we still want you to share your experience or and opinion about the school . Do you believe the course will hep you advance in your career ? Does your course meet your expectations ? Does the course motivate you to pursue additional areas of studyt and profestional activity ? How do you feel about the staff ? Let us know because we want to know! </p>
        </div>
        <div >
        </div>
    </div>
    
    <div class="carousel-inner">

        <div class="carousel-item active">
                <img src="../static/images/firstpic1.png" class="d-block w-100" alt="...">
                <div class="card text-left">
                </div>
                <div >
                </div>
                </div>
        </div>
 
        <div class="carousel-item">
                <a href="https://www.instagram.com/p/BgdAZBnHVcD/?igshid=NzAzN2Q1NTE=">
                    <img src="../static/images/secondpic.png" class="d-block w-100" alt="Gondola Ride , Venetian Las Vegas"></img>
                </a>
                <div class="card text-left">
                    <div class="card-body">

                    </div>
                    <div >
                    </div>
                </div>
        </div>
        <div class="carousel-item">
            <a href="https://www.youtube.com/watch?v=6xBQFWItK9I">
                <img src="../static/images/thirdpic.png" class="d-block w-100" alt="...">
            </a>
            <div class="card text-left">
                <div class="card-body">

                </div>
                <div >
                </div>
            </div>
    </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
</div> 
</main>






{% endblock content %}



